.container {
    display: flex;
}

.container > div {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.create-group {
    padding: 30px;
}

.group-title {
    text-align: center;
}